.post-image{
    max-height: 400px;
    max-width: 400px;
    margin: auto;
}
img{

    max-width: 100%;
    max-height: 400px;
    display:block;
    margin:auto;
}
.image-area{


}
.post-footer a {
    margin: auto;
}